# Ignore Mac system files
.DS_store

# Distribution folder
dist

# Ignore node_modules folder
node_modules

# Ignore all cache files
*.cache

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache
